.ui.header.class-name
{
    font-size:1.5em;
    text-transform: uppercase;
    color:black;
    font-weight: 800;
    font-family: HK Grotesk Medium, sans-serif;
    letter-spacing: 1px;
    white-space: normal;
    text-align: left;
}
.ui.header.class-description
{
    font-size:15px;
    color:rgb(179, 177, 177);
    font-family: HK Grotesk Medium, sans-serif;
    white-space: normal;
    text-align: left;
    
}
.course-div-b
{
    margin-top: 1em;
}
.course-div-c
{
    margin-top: 1em;
}
.border
{
    margin-top: 1em;
    margin-bottom: 1em;
    border:1px solid rgba(0, 0, 0, 0.1);
}