.main-header
{
    padding-top: 3em;
    padding-bottom: 3em;
}
.second-part
{
    color:#3366CC;
}
.ui.header.main-header-style
{
    color:black;
    font-size: 4em;
    font-family: "Titillium Web";
}
.foot-hold{
    margin-top: 10em;
}